/*
***
Alle html filer
***
 */

/*
Bruges i updateCustomer, updateEmployee, updateLogin, createSchedule og updateSchedule til at styre inputs størrelse og skrif størrelse
 */
.inputsfields{
    height: 35px;
    width: 190px;
    margin: 4px;
    font-size: 16px;
}


/*
Bruges over alt undtagen index siden, til at farve og styre vores banner, overflow, er for at sikre at vi hele tiden ser hele banneren
uden at kunne risikere at komme ud i at skulle bruge scroll baren
 */
.header{
    background-color: lightblue;
    overflow: hidden;
    padding: 0.5%;
}
/*
Bruges over alt hvor .header bruges, til at få vores logo til at sidde til højre og have en reaktiv størrelse baseret på skærmstørrelsen
 */
.header img{
    width: 13%;
    float: right;
    margin-right: 2.2%;
}
/*
Dropdown menu taget fra W3school
 */
.menuButton {
    background-color: #147DC4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    min-width: 160px;
}
/*
Dropdown menu taget fra W3school
 */
.menu {
    float: left;
    overflow: hidden;
    margin-left: 2.2%;
    margin-top: 2.2%;
    margin-bottom: 2.2%;
}
/*
Dropdown menu taget fra W3school
 */
.menuLinks{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}
/*
Dropdown menu taget fra W3school
 */
.menuLinks a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
/*
Dropdown menu taget fra W3school
 */
.menuLinks a:hover{
    background-color: #ddd;
}
/*
Dropdown menu taget fra W3school
 */
.menu:hover .menuLinks{
    display: block;
}
/*
Dropdown menu taget fra W3school
 */
.menu:hover .menuButton{
    background-color: #72b1db;
}

/*
Bruges sammen med alle .header, background-color er en rød farve.
margin til venstre, top og bund, er for at den følger vores menu samt padding
 */
.logout{
    padding: 16px;
    background-color: #ff2b35;
    border:none;
    color: white;
    font-size: 16px;
    float: left;
    margin-left: 2.2%;
    margin-top: 2.2%;
    margin-bottom: 2.2%;
    width: 160px;
    cursor: pointer;

}
/*
Vores effekt til når man peger på logud knappen, en lidt mørkere rød
 */
.logout:hover{
    background-color: #f37b80;
}
/*
Vores "kasse" som vi har vores indhold i, tvunget til mindst at være 500 pixels bred og 800 pixels høj,
men har % bredde og højde, i tilfælde af større skærme til at have et mere responsive layout
position er relativ, for at den sætter sig fast lige under vores banner
Margin 0:auto for at den er i midten
 */

.container{
    width: 80%;
    min-width: 500px;
    height: 85%;
    min-height: 800px;
    position:relative;
    background-color:aliceblue;
    margin:0 auto;
}
/*
Vores under div, som bruges mest til at centring af tables og andet indhold
 */
.results{
    padding: 2%;
    text-align: center;
}
/*
Update, som bliver brugt til at få vores input felter lidt ned på deres respektive sider
Bliver også brugt på createSchedule af samme årsag
 */
.update{
    margin-top: 10%;
}
/*
Bliver mest brugt til at fjerne bindestreg mellem opdatere og slette knapperne i vores tables
 */
a{
    text-decoration: none;
}

/*
Bliver brugt til at ændre udseende på alle vores opdatere knapper på vores forskellige tables
 */
.updatebtn{

    background-color: chartreuse;
    border: none;
    color:black;
    cursor: pointer;
    height:60px;
    width:120px;
}
/*
Bliver brugt til at give mere respons til bruger når der bliver peget på opdatere knapper
 */
.updatebtn:hover{
    background-color: #9cde5a;
}
/*
Bliver brugt til at ændre udseende på alle vores slet knapper på vores forskellige tables
 */
.deletebtn{
    background-color: #ff2b35;
    border: none;
    color: white;
    cursor: pointer;
    height:60px;
    width:120px;
}
/*
Bliver brugt til at give mere respons til bruger når der bliver peget på slet knapper
 */
.deletebtn:hover{
    background-color: #f37b80;
}


/*
Bliver kun brugt på vores home html fil, er ens med deletebtn, men havde behov for float right, til at sikre sig at den blev til højre
 */
.deletebtnhome{
    background-color: #ff2b35;
    border: none;
    color: white;
    height: 60px;
    width: 120px;
    float: right;
    cursor: pointer;
}
/*
Bliver brugt til at give mere respons til bruger når der bliver peget på slet knappen
 */
.deletebtnhome:hover{
    background-color: #f37b80;
}

/*
Bruges til alle vores update sider og vores createSchedule, sådan så man kan gå tilbage til forhenværende side mere intuitivt
 */
.tilbage{
    text-align: center;
    margin-left: 40%;
    position: absolute;
    bottom: 10%;
    width: 200px;
    height: 50px;
    background-color: #dddddd;
    cursor: pointer;
}

/*
Bliver kun brugt til at ændre på opret opslag knappen under createNewsfeed, og ikke særlig vellykket
Kan være grundet at den ligger under en div som ændre dens position
 */
.Centered{
    margin-left:-30%;
    bottom: 5%;
    position: absolute;
    background-color:lightgreen;
    width: 120px;
    height: 60px;

}

/*
Standard knap der bliver brugt på home og wage, til at få den til at være ensartet med andre knapper
 */
.standardButton1{
    background-color: #4CAF50;
    width: 120px;
    height: 60px;
    border: none;
}
/*
Standard knap der bliver brugt på wage, til at få den til at være ensartet med andre knapper
 */
.standardButton2{
    background-color: #008CBA;
    color: white;
    width: 120px;
    height: 60px;
    border: none;
}
/*
***
Newsfeed
***
 */

.newsfeed table{
    width: 40%;
    max-width: 40%;
    border-collapse: collapse;
    margin-bottom: 5%;
}
.newsfeed tr, th, td{
    border: 1px solid black;
    text-align: left;
    padding-left: 3%;
}
.newsfeed #tomcelle{
    width: 65%;
}

.NewsfeedTextbox{
    width: 800px;
    height: 500px;
}

/*
***
Database tabeller
***
 */

table{
    width: 75%;
    max-width: 75%;
    border-collapse: collapse;
    margin-bottom: 5%;
    text-align: left;
    margin: 0 auto;
}
tr, th, td{
    border: 1px solid black;
    padding: 4px;
}
th{
    background-color:beige;
    min-width: 85px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(odd) {
    background-color: white;
}

/*
***
Vagtplan
***
 */

.scheduledate{
    border:solid 1px black;
    position: absolute;
    margin-left: 0px;
    bottom: -250px;
    width: 160px;
    height: 120px;
    float: left;
    visibility: hidden;
    background-color: lightgray;
}
.scheduledatefromto{
    border:solid 1px black;
    position: absolute;
    margin-left: 0px;
    bottom: -410px;
    width: 160px;
    height: 160px;
    float: left;
    visibility: hidden;
    background-color: lightgray;
}

.sideMenu{
    position: fixed;
    margin-left: 2.5%;
    top: 20%;
    height:300px;
    width: 105px;
}

.todaysbtn{
    float: left;
    padding: 1px;
    width: 120px;
    height: 60px;
    margin-bottom:5px;
}

.allsbtn{
    float: left;
    padding: 1px;

    width: 120px;
    height: 60px;
    margin-bottom:5px;
}

.createbtn {
    float: left;
    padding: 1px;
    background-color: lightgreen;
    width: 120px;
    height: 60px;
    margin-bottom:5px;
}


label {
    display: block;
    height:60px;
    width:120px;
    margin-bottom: 5px;
    text-align:center;
    line-height:60px;
    background: darkgray;
    cursor: pointer;
    font-size: 14px;

}

input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;

}

.placeholder{
    visibility: hidden;
}.placeholder1{
     visibility: hidden;
 }

input[type=checkbox]:checked + label + .scheduledatefromto{
    visibility: visible;
}

input[type=checkbox]:checked + label + .scheduledate{
    visibility: visible;
}
input[type=checkbox]:checked + label + .placeholder{
    visibility: visible;
}
input[type=checkbox]:checked + label + .placeholder1{
    visibility: visible;
}







