<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Newsfeed</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>


<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewScheduleAll">Vagtplan</a>
            <a href="/viewWages">Lønninger</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log ud</button>
    </form>

    <div class="logo">
        <img src="logo.png">
    </div>

</div>

</div>

<div class="container">

    <div class="results">


        <!--<label>Opslagstekst</label>-->
    <form action="/createNewsfeed" method="post">
        <textarea name="opslag" placeholder="Skriv her..." class="NewsfeedTextbox"></textarea>
        <!-- <input type="text" name="opslag" placeholder="Skriv her..." class="NewsfeedTextbox"> -->
        <input type="submit" value="Opret opslag" class="Centered">
    </form>
</div>
</div>

</body>
</html>