<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Newsfeed</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>

<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/customer/viewCustomer">Kunder</a>
            <a href="/employee/viewEmployee">Medarbejdere</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewSchedule">Vagtplan</a>
        </div>
    </div>
    <div class="logo">
        <img src="logo.png">
    </div>
</div>

    <h1>create</h1>

    <form action="/createNewsfeed" method="post">
        <input type="text" name="opslag" placeholder="Skriv her">
        <input type="submit" value="Opret opslag">
    </form>


</body>
</html>