<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Newsfeed</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>

<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewNewsfeed">News Feed</a>
            <a href="/viewSchedule">Vagtplan</a>
        </div>
    </div>
    <div class="logo">
        <img src="logo.png">
    </div>
</div>
<div align="center">
<button type="button" onclick="alert('OPRET NYHEDSOPSLAG')">Opret Opslag</button>
    <button type="button" onclick="alert('Opslaget slettet')">Slet Opslag</button>
</div>
</body>
</html>