<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View Newsfeed</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>


<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewScheduleAll">Vagtplan</a>
            <a href="/viewWages">Lønninger</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log ud</button>
    </form>

    <div class="logo">
        <a href="/home"><img src="logo.png"></a>
    </div>

</div>

</div>



    <div align="center">
        <button type="button" >Opret Opslag</button>
        <button type="button" onclick="alert('Opslaget slettet')">Slet Opslag</button>
    </div>

    <p th:text="${logins.username}"></p>


    <div>
        <p></p>
    </div>


</body>
</html>