<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
    <link rel="stylesheet" type="text/css" href="../css.css">
</head>
<body>


<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewScheduleAll">Vagtplan</a>
            <a href="/viewWages">Lønninger</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log ud</button>
    </form>

    <div class="logo">
        <a href="/home"><img src="../logo.png"></a>
    </div>

</div>

</div>

<div class="container">

    <div class="results">

        <div class="update">
    <form action="/updateEmployee" method="post">

        <input style=" height: 1px; length: 1px; position: absolute; bottom: 0; visibility: hidden" type="text" name="medarbejder_id" th:value="${employee.medarbejder_id}"/>
        <input class="inputsfields" type="text" name="fornavn" placeholder="Fornavn" th:value="${employee.fornavn}"/>
        <input class="inputsfields" type="text" name="efternavn" placeholder="Efternavn" th:value="${employee.efternavn}"/>
        <input class="inputsfields" type="text" name="ansettelsesdato" placeholder="Ansættelsesdato" th:value="${employee.ansettelsesdato}"/>
        <input class="inputsfields" type="text" name="telefon" placeholder="Telefon" th:value="${employee.telefon}"/>
        <input class="inputsfields" type="text" name="email" placeholder="Email" th:value="${employee.email}"/>
        <input class="inputsfields" type="text" name="cpr" placeholder="CPR" th:value="${employee.cpr}"/>
        <input class="inputsfields" type="text" name="lon" placeholder="Timeløn" th:value="${employee.lon}"/>
        <input class="inputsfields" type="text" name="adresse" placeholder="Adresse" th:value="${employee.adresse}"/>
        <input class="inputsfields" type="text" name="postnummer" placeholder="Postnummer" th:value="${employee.postnummer}"/>

        <input style="background-color:lightgreen; height: 41px; width: 194px;" type="submit" value="Opdater medarbejder"/>
    </form>
        </div>
    </div>
    <form action="/viewEmployee">
    <button type="submit" class="tilbage">Tilbage</button> </form>
</div>

</body>
</html>