<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>


<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewSchedule">Vagtplan</a>
            <a href="/viewWages">Lønninger</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log out</button>
    </form>

    <div class="logo">
        <img src="logo.png">
    </div>

</div>

</div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fornavn</th>
                    <th>Efternavn</th>
                    <th>Ansættelsesdato</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>CPR</th>
                    <th>Timeløn</th>
                    <th>Adresse</th>
                    <th>Postnummer</th>
                </tr>
            </thead>

            <tbody>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.medarbejder_id}"/>
                <td th:text="${employee.fornavn}"/>
                <td th:text="${employee.efternavn}"/>
                <td th:text="${employee.ansettelsesdato}"/>
                <td th:text="${employee.telefon}"/>
                <td th:text="${employee.email}"/>
                <td th:text="${employee.cpr}"/>
                <td th:text="${employee.lon}"/>
                <td th:text="${employee.adresse}"/>
                <td th:text="${employee.postnummer}"/>

                <td>
                    <a th:href="@{'/deleteEmployee/'+${employee.medarbejder_id}}">
                    <button>Delete</button>
                    </a>
                    <a th:href="@{'/updateEmployee/'+${employee.medarbejder_id}}">
                        <button>Update</button>
                    </a>
                </td>

            </tr>
            </tbody>
        </table>

        <form action="/createEmployee" method="post">
            <input style="padding: 7px 10px" type="text" name="fornavn" placeholder="Fornavn"/>
            <input style="padding: 7px 10px" type="text" name="efternavn" placeholder="Efternavn"/>
            <input style="padding: 7px 10px" type="text" name="ansettelsesdato" placeholder="Ansættelsesdato"/>
            <input style="padding: 7px 10px" type="text" name="telefon" placeholder="Telefon"/>
            <input style="padding: 7px 10px" type="text" name="email" placeholder="Email"/>
            <input style="padding: 7px 10px" type="text" name="cpr" placeholder="CPR"/>
            <input style="padding: 7px 10px" type="text" name="lon" placeholder="Løn"/>
            <input style="padding: 7px 10px" type="text" name="adresse" placeholder="Adresse"/>
            <input style="padding: 7px 10px" type="text" name="postnummer" placeholder="Postnummer"/>
            <input style="padding: 7px 10px; background-color:lightgreen;" type="submit" value="Tilføj medarbejder"/>
        </form>

</body>
</html>