<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>

<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewSchedule">Vagtplan</a>
            <a href="/viewWages">Lønninger</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log out</button>
    </form>

    <div class="logo">
        <img src="logo.png">
    </div>

</div>

</div>

    <form action="/createSchedule" method="post" id="scheduleForm">
        <select list="navn" name="navn">
            <datalist id="navn" th:each="employee : ${employees}">
                <option th:value="${employee.navn}" th:text="${employee.navn}"></option>
            </datalist>
        </select>
        <input type="time" name="starttid" min="00:00" max="23:59" step="1800">
        <input type="time" name="sluttid" min="00:00" max="23:59" step="1800">
        <input type="date" name="dato">
        <select list="firmanavne" name="firma_navn">
            <datalist id="firmanavne" th:each="customer : ${customers}">
                <option th:value="${customer.firma_navn}" th:text="${customer.firma_navn}"></option>
            </datalist>
        </select>
        <input type="submit" value="Opret vagt">
    </form>
</body>
</html>