<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css">
</head>
<body>

<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewSchedule">Vagtplan</a>
        </div>
    </div>
    <div class="logo">
        <img src="logo.png">
    </div>

</div>
<form action="/logout" method="get">
    <button type="submit">Log out</button>
</form>
    <form action="/createSchedule" method="post" id="scheduleForm">
        <select list="fornavne" name="fornavn">
            <datalist id="fornavn" th:each="employee : ${employees}">
                <option th:value="${employee.fornavn}" th:text="${employee.fornavn}"></option>
            </datalist>
        </select>
        <select list="efternavne" name="efternavn">
            <datalist id="efternavne" th:each="employee : ${employees}">
                <option th:value="${employee.efternavn}" th:text="${employee.efternavn}"></option>
            </datalist>
        </select>
        <input type="time" name="starttid" min="00:00" max="23:59">
        <input type="time" name="sluttid" min="00:00" max="23:59">
        <input type="date" name="dato">
        <select list="firmanavne" name="firma_navn">
            <datalist id="firmanavne" th:each="customer : ${customers}">
                <option th:value="${customer.firma_navn}" th:text="${customer.firma_navn}"></option>
            </datalist>
        </select>


        <!--<input type="text" name="firma_navn">
        <input type="disabled" list="firmanavne" name="firma_navn">
        -->
        <input type="submit" value="Opret vagt">
</body>
</html>