<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewSchedule">Vagtplan</a>
        </div>
    </div>
    <div class="logo">
        <img src="logo.png">
    </div>

</div>
<form action="/logout" method="get">
    <button type="submit">Log out</button>
</form>
    <form action="/update_schedule/" method="post">
        <input type="hidden" name="vagtplan_id" th:value="${schedule.vagtplan_id}">
        <input type="text" name="fornavn" th:value="${schedule.fornavn}">
        <input type="text" name="efternavn" th:value="${schedule.efternavn}">
        <input type="time" name="starttid" min="00:00" max="23:59" th:value="${schedule.starttid}">
        <input type="time" name="sluttid" min="00:00" max="23:59" th:value="${schedule.sluttid}">
        <input type="date" name="dato" th:value="${schedule.dato}">
        <input type="text" name="firma_navn" th:value="${schedule.firma_navn}">
        <input type="submit" value="Opdater vagt">
    </form>
</body>
</html>