<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css.css">
</head>
<body>

<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewSchedule">Vagtplan</a>
            <a href="/viewWages">Lønninger</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log out</button>
    </form>

    <div class="logo">
        <img src="../logo.png">
    </div>

</div>

</div>

    <form action="/update_schedule/" method="post">
        <!--<input type="hidden" name="vagtplan_id" th:value="${schedule.vagtplan_id}">
        <input type="text" name="fornavn" th:value="${schedule.fornavn}">
        <input type="text" name="efternavn" th:value="${schedule.efternavn}">
        <input type="time" name="starttid" min="00:00" max="23:59" step="1800" th:value="${schedule.starttid}">
        <input type="time" name="sluttid" min="00:00" max="23:59" step="1800" th:value="${schedule.sluttid}">
        <input type="date" name="dato" th:value="${schedule.dato}">
        <input type="text" name="firma_navn" th:value="${schedule.firma_navn}">

        <br>
        -->
        <input type="hidden" name="vagtplan_id" th:value="${schedule.vagtplan_id}">
        <select list="navn" name="navn">
            <datalist id="navn" th:each="employee : ${employees}">
                <option th:if="${employee.medarbejder_id == schedule.medarbejder_id}" th:value="${employee.navn}" th:text="${employee.navn}" selected></option>
                <option th:if="${employee.medarbejder_id != schedule.medarbejder_id}" th:value="${employee.navn}" th:text="${employee.navn}"></option>
            </datalist>
        </select>

        <input type="time" name="starttid" min="00:00" max="23:59" step="1800" th:value="${schedule.starttid}">
        <input type="time" name="sluttid" min="00:00" max="23:59" step="1800" th:value="${schedule.sluttid}">
        <input type="date" name="dato" th:value="${schedule.dato}">

        <select list="firmanavne" name="firma_navn">
            <datalist id="firmanavne" th:each="customer : ${customers}">
                <option th:if="${customer.kunde_id == schedule.kunde_id}" th:value="${customer.firma_navn}" th:text="${customer.firma_navn}" selected></option>
                <option th:if="${customer.kunde_id != schedule.kunde_id}" th:value="${customer.firma_navn}" th:text="${customer.firma_navn}" ></option>
            </datalist>
        </select>
        <input type="submit" value="Opdater vagt">
    </form>
</body>
</html>