<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <table>
        <thead>
            <tr>
                <th>
                    <p>Fornavn</p>
                </th>
                <th>
                    <p>Efternavn</p>
                </th>
                <th>
                    <p>Starttid</p>
                </th>
                <th>
                    <p>Sluttid</p>
                </th>
                <th>
                    <p>Dato</p>
                </th>
                <th>
                    <p>Timetal</p>
                </th>
                <th>
                    <p></p>
                </th>

            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</head>
<body>

</body>
</html>