<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css">
    <style>

    </style>
</head>
<body>
<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewSchedule">Vagtplan</a>
        </div>
    </div>
    <div class="logo">
        <img src="logo.png">
    </div>

</div>
<form action="/viewScheduleDate" method="post">
        Se vagtplan for: <input type="date" name="date">
        <input type="submit" value="Se vagter for dato">
    </form>
    <a href="/viewScheduleAll">
        <button type="button">Se alle vagter</button>
    </a>
    <a href="/createSchedule">
        <button type="button">Opret vagt</button>
    </a>
    <table>
        <thead>
        <tr>
            <th>
                <p>Fornavn</p>
            </th>
            <th>
                <p>Efternavn</p>
            </th>
            <th>
                <p>Starttid</p>
            </th>
            <th>
                <p>Sluttid</p>
            </th>
            <th>
                <p>Timetal</p>
            </th>
            <th>
                <p>Dato</p>
            </th>
            <th>
                <p>Firma</p>
            </th>
            <th>
                <p>Adresse</p>
            </th>

            <th>
                <p>By</p>
            </th>

            <th>
                <p>Postnummer</p>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule: ${schedules}">
            <td>
                <p th:text="${schedule.fornavn}"></p>
            </td>
            <td>
                <p th:text="${schedule.efternavn}"></p>
            </td>
            <td>
                <p th:text="${schedule.starttid}"></p>
            </td>
            <td>
                <p th:text="${schedule.sluttid}"></p>
            </td>
            <td>
                <p th:text="${schedule.timetal}"></p>
            </td>
            <td>
                <p th:text="${schedule.dato}"></p>
            </td>
            <td>
                <p th:text="${schedule.firma_navn}"></p>
            </td>
            <td>
                <p th:text="${schedule.adresse}"></p>
            </td>

            <td>
                <p th:text="${schedule.bydel}"></p>
            </td>

            <td>
                <p th:text="${schedule.postnummer}"></p>
            </td>
            <td>
                <a th:href="@{'/update_schedule/'+${schedule.vagtplan_id}}">
                    <button type="button">Update</button>
                </a>
                <a th:href="@{'/delete_schedule/'+${schedule.vagtplan_id}}">
                    <button type="button">Delete</button>
                </a>
            </td>
        </tr>

        </tbody>
    </table>

</body>
</html>