<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css.css">
    <style>


    </style>
</head>
<body>

<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/homeUser">Hjem</a>
            <a href="/viewScheduleAll">Vagtplan</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log ud</button>
    </form>

    <div class="logo">
        <a href="/homeUser"><img src="logo.png"></a>
    </div>

</div>

</div>

<div class="container">

    <div class="results">


    <table>
        <thead>
        <tr>
            <th>
                <p>Navn</p>
            </th>
            <th>
                <p>Starttid</p>
            </th>
            <th>
                <p>Sluttid</p>
            </th>
            <th>
                <p>Timetal</p>
            </th>
            <th>
                <p>Dato</p>
            </th>
            <th>
                <p>Firma</p>
            </th>
            <th>
                <p>Adresse</p>
            </th>

            <th>
                <p>By</p>
            </th>

            <th>
                <p>Postnummer</p>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule: ${schedules}">
            <td>
                <p th:text="${schedule.navn}"></p>
            </td>
            <td>
                <p th:text="${schedule.starttid}"></p>
            </td>
            <td>
                <p th:text="${schedule.sluttid}"></p>
            </td>
            <td>
                <p th:text="${schedule.timetal}"></p>
            </td>
            <td>
                <p th:text="${schedule.dato}"></p>
            </td>
            <td>
                <p th:text="${schedule.firma_navn}"></p>
            </td>
            <td>
                <p th:text="${schedule.adresse}"></p>
            </td>

            <td>
                <p th:text="${schedule.bydel}"></p>
            </td>

            <td>
                <p th:text="${schedule.postnummer}"></p>
            </td>
        </tr>

        </tbody>
    </table>
    </div>
</div>
        <div class="sideMenu">
            <input type="checkbox" id="Boggle">
            <label for="Boggle">Vælg dato</label>
            <div class="scheduledate">
                <form action="/viewScheduleDate" method="post">
                    <p>Se vagtplan for:
                        <input type="date" name="date" placeholder="Dato">
                        <input type="submit" value="Se vagter for dato">
                    </p>
                </form>
            </div>

            <input type="checkbox" id="toggle1">
            <label for="toggle1">Vælg periode</label>
            <div class="scheduledatefromto">
                <form action="/viewScheduleDateFromTo" method="post">
                    <p>Se vagtplan fra:
                        <input type="date" name="date" placeholder="Dato">
                        til
                        <input type="date" name="dateTo" placeholder="Dato">
                        <input type="submit" value="Se vagter for dato">
                    </p>
                </form>
            </div>

            <a href="/viewSchedule">
                <button type="button" class="todaysbtn">Se dagens vagter</button>
            </a>
            <a href="/viewScheduleAll">
                <button type="button" class="allsbtn">Se alle vagter</button>
            </a>
        </div>
</body>
</html>