<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewSchedule">Vagtplan</a>
        </div>
    </div>
    <div class="logo">
        <img src="logo.png">
    </div>

</div>

    <div class="newsfeed">
        <a href="/createNewsfeed">
            <button type="button">Opret opslag</button>
        </a>
        <table align="center" th:each="newsfeed: ${newsfeeds}">
            <thead>
                <tr>
                    <th>
                        <p th:text="${newsfeed.dato + ' @ '+ newsfeed.tid}"></p>
                    </th>
                    <th id="tomcelle">
                        <a th:href="@{'/delete_news/'+${newsfeed.id}}">
                            <button type="button" onclick="alert('Opslag slettet')">Slet Opslag</button>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <p th:text="${newsfeed.opslag}"></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>