<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css">
</head>
<body>
    <ul>
        <li>
            <a href="/home">Hjem</a>
        </li>
        <li>
            <a href="/viewCustomer">Kunder</a>
        </li>
        <li>
            <a href="/viewEmployee">Medarbejdere</a>
        </li>
        <li>
            <a href="/viewNewsfeed">News Feed</a>
        </li>
        <li>
            <a href="/viewSchedule">Vagtplan</a>
        </li>
    </ul>
</body>
</html>