<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
    <div class="header">
        <div class="menu">
            <button class="menuButton">Menu</button>
            <div class="menuLinks">
                <a href="/home">Hjem</a>
                <a href="/customer/viewCustomer">Kunder</a>
                <a href="/employee/viewEmployee">Medarbejdere</a>
                <a href="/viewNewsfeed">News Feed</a>
                <a href="/viewSchedule">Vagtplan</a>
            </div>
        </div>
        <div class="logo">
            <img src="logo.png">
        </div>
    </div>
    <div class="newsfeed" th:each="newsfeed: ${newsfeeds}">
        <table align="center">
            <thead>
                <tr>
                    <th>
                        <p th:text="${newsfeed.dato + ' @ '+ newsfeed.tid}"></p>
                    </th>
                    <th id="tomcelle">
                        <a th:href="@{'/delete/'+${newsfeed.id}}">
                            <button type="button" onclick="alert('Opslaget slettet')">Slet Opslag</button>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <p th:text="${newsfeed.opslag}"></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>