<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log-in</title>

    <link rel="stylesheet" type="text/css" href="css">

</head>
<body>

 <div align="center">
     <img src="logo.png"  width="500" height="400">
     <form id="form_login">


        <br>
        <input type="text" username="brugernavn" value="Brugernavn" ><br>
        <br>
        <input type="text" password="adgangskode" value="Password" ><br><br>
        <input type="submit" value="Login">
    </form></div>



    </form>
</body>
</html>