<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/customer/updateCustomer" method="post">

    <input style=" height: 1px; length: 1px; position: absolute; bottom: 0; visibility: hidden" type="text" name="id" th:value="${customer.id}"/>

    <input style="padding: 7px 10px" type="text" name="firma_navn" th:value="${customer.firma_navn}"/>

    <input style="padding: 7px 10px" type="text" name="kontaktperson" th:value="${customer.kontaktperson}"/>
    <input style="padding: 7px 10px" type="text" name="telefon"  th:value="${customer.telefon}"/>
    <input style="padding: 7px 10px" type="text" name="email"  th:value="${customer.email}"/>
    <input style="padding: 7px 10px" type="text" name="CVR" th:value="${customer.CVR}"/>
    <input style="padding: 7px 10px" type="text" name="addresse" th:value="${customer.addresse}"/>
    <input style="padding: 7px 10px" type="text" name="postnummer"  th:value="${customer.postnummer}"/>


    <input style="padding: 7px 10px; background-color:lightgreen;" type="submit" value="Opdatere kunde"/>
</form>


</body>
</html>