<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css.css">
</head>
<body>


<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewSchedule">Vagtplan</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log out</button>
    </form>

    <div class="logo">
        <img src="logo.png">
    </div>

</div>

</div>

<form action="/updateCustomer" method="post">

    <input style=" height: 1px; length: 1px; position: absolute; bottom: 0; visibility: hidden" type="text" name="kunde_id" th:value="${customer.kunde_id}"/>

    <input style="padding: 7px 10px" type="text" name="firma_navn" th:value="${customer.firma_navn}"/>

    <input style="padding: 7px 10px" type="text" name="kontaktperson" th:value="${customer.kontaktperson}"/>
    <input style="padding: 7px 10px" type="text" name="telefon"  th:value="${customer.telefon}"/>
    <input style="padding: 7px 10px" type="text" name="email"  th:value="${customer.email}"/>
    <input style="padding: 7px 10px" type="text" name="CVR" th:value="${customer.CVR}"/>
    <input style="padding: 7px 10px" type="text" name="adresse" th:value="${customer.adresse}"/>
    <input style="padding: 7px 10px" type="text" name="postnummer"  th:value="${customer.postnummer}"/>


    <input style="padding: 7px 10px; background-color:lightgreen;" type="submit" value="Opdatere kunde"/>
</form>


</body>
</html>