<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>firmname</th>
            <th>contactperson</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.id}"/>
            <td th:text="${customer.firma_navn}"/>
            <td th:text="${customer.kontaktperson}"/>


            </td>

        </tr>
        </tbody>
    </table>

</body>
</html>