<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>firmname</th>
            <th>contactperson</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.id}"/>
            <td th:text="${customer.firma_navn}"/>
            <td th:text="${customer.kontaktperson}"/>

            <td><a th:href="@{'/delete/'+${customer.id}}">
                <button class="btn-delete">Delete</button>
            </a>

            </td>


        </tr>
        </tbody>
    </table>

    <form action="/createCustomer" method="post">
        <input style="padding: 7px 10px" type="text" name="firma_navn" placeholder="Firma navn"/>
        <input style="padding: 7px 10px" type="text" name="kontaktperson" placeholder="Kontaktperson"/>
        <input style="padding: 7px 10px" type="text" name="telefon" placeholder="Telefon nummer"/>
        <input style="padding: 7px 10px" type="text" name="email" placeholder="Email"/>
        <input style="padding: 7px 10px" type="text" name="CVR" placeholder="CVR"/>
        <input style="padding: 7px 10px" type="text" name="addresse" placeholder="Addresse"/>
        <input style="padding: 7px 10px" type="text" name="postnummer" placeholder="Postnummer"/>
        <input style="padding: 7px 10px; background-color:lightgreen;" type="submit" value="Tilføj kunde"/>
    </form>


</body>
</html>