<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>viewCustomer</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>


<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/createNewsfeed">Opret nyhedsopslag</a>
            <a href="/viewScheduleAll">Vagtplan</a>
            <a href="/viewWages">Lønninger</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log ud</button>
    </form>

    <div class="logo">
        <a href="/home"><img src="logo.png"></a>
    </div>

</div>

</div>

<div class="container">

   <div class="results">
    <table>
        <thead>
        <tr>
            <th>Firma navn</th>
            <th>Kontaktperson</th>
            <th>Telefon nummer</th>
            <th>Email</th>
            <th>CVR</th>
            <th>Adresse</th>
            <th>Postnummer</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">

            <td th:text="${customer.firma_navn}"/>
            <td th:text="${customer.kontaktperson}"/>
            <td th:text="${customer.telefon}"/>
            <td th:text="${customer.email}"/>
            <td th:text="${customer.CVR}"/>
            <td th:text="${customer.adresse}"/>
            <td th:text="${customer.postnummer}"/>

            <td><a th:href="@{'/delete/'+${customer.kunde_id}}">
                <button class="deletebtn">Slet</button>
            </a>

                <a th:href="@{'/updateCustomer/'+${customer.kunde_id}}">


                    <button class="updatebtn">Opdatere</button>

                </a>

            </td>


        </tr>
        </tbody>
    </table>
   </div>
    <div class="add">
        <form action="/createCustomer" method="post">
            <input style="padding: 7px 10px" type="text" name="firma_navn" placeholder="Firma navn"/>
            <input style="padding: 7px 10px" type="text" name="kontaktperson" placeholder="Kontaktperson"/>
            <input style="padding: 7px 10px" type="text" name="telefon" placeholder="Telefon nummer"/>
            <input style="padding: 7px 10px" type="text" name="email" placeholder="Email"/>
            <input style="padding: 7px 10px" type="text" name="CVR" placeholder="CVR"/>
            <input style="padding: 7px 10px" type="text" name="adresse" placeholder="Addresse"/>
            <input style="padding: 7px 10px" type="text" name="postnummer" placeholder="Postnummer"/>
            <input style="padding: 7px 10px; background-color:lightgreen;" type="submit" value="Tilføj kunde"/>
        </form>

    </div>

</div>






</body>
</html>