<!--
Starter med at sætte html lang til engelsk (Selvom dette ikke har nogen betydning for os), derefter henter vi noget xhtml,
for at få vores thymeleaf til at fungere.
Vi sætter vores titel til SCS, linker til vores CSS fil og linker til vores lille icon på siden.
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SCS</title>
    <link rel="stylesheet" type="text/css" href="../css.css">
    <link rel="icon" href="icon.png" type="image/x-icon" />

</head>
<body>

<!--
Vi opretter først en div sektion, som vi bruger til at lave vores blå header med css klassen "header"
Derefter laver vi en ny div sektion til at lave vores drop down menu css klassen "menu"
Herefter laver vi en knap, som ikke kun er til for at vi kan pege på den, sådan så vores
3. div sektion kommer frem og viser alle vores a href, som linker til de forskellige sider, som man kan tilgå

inde i div sektionen med "header" klassen, har vi også lavet en div sektion med vores logo,
samt en form action, som bruger en knap til at logge ud.
-->

<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/viewScheduleAll">Vagtplan</a>
            <a href="/viewWages">Lønninger</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log ud</button>
    </form>

    <div class="logo">
        <a href="/home"><img src="../logo.png"></a>
    </div>

</div>

</div>
<!--
Overordnet er næsten alle vores html sider bygget op med 3 forskellige div sektioner, med det øverste lag med css klassen "container"
Herefter en div med css klassen "results" og alt afhængig af html siden, en div med css klassen "update"
Inde i div med container css klassen, er der også en form og button til at gå tilbage til viewCustomer såfremt det er en update side

Inde i div med update css klassen, er der en form med en masse input klasser, som henter de forskellige informationer til at opdatere
Vores login id input, har noget style inline, hvor vi gør den skjult, 1x1 pixels og rykker den helt ned til venstre

-->
<div class="container">

    <div class="results">
        <div class="update">
<form action="/updateLogin" method="post">

    <input style=" height: 1px; length: 1px; position: absolute; bottom: 0; visibility: hidden" type="text" name="bruger_id" th:value="${login.bruger_id}"/>

    <input class="inputsfields" type="text" name="username" placeholder="Username" th:value="${login.username}"/>
    <input class="inputsfields" type="text" name="password" placeholder="Password" th:value="${login.password}"/>
    <input class="inputsfields" type="text" name="status" placeholder="Bruger status" th:value="${login.status}"/>

    <input style="background-color:lightgreen; height: 41px; width: 194px;" type="submit" value="Opdater login"/>
</form>
        </div>
    </div>
    <form action="/viewLogin">
        <button type="submit" class="tilbage">Tilbage</button></form>
</div>

</body>
</html>