<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SCS</title>
    <link rel="stylesheet" type="text/css" href="css.css">
    <link rel="icon" href="icon.png" type="image/x-icon" />

</head>
<body>
<div class="header">
    <div class="menu">
        <button class="menuButton">Menu</button>
        <div class="menuLinks">
            <a href="/home">Hjem</a>
            <a href="/viewCustomer">Kunder</a>
            <a href="/viewEmployee">Medarbejdere</a>
            <a href="/viewLogin">Logins</a>
            <a href="/viewScheduleAll">Vagtplan</a>
            <a href="/viewWages">Lønninger</a>
        </div>
    </div>

    <form action="/logout" method="get">
        <button type="submit" class="logout">Log ud</button>
    </form>

    <div class="logo">
        <a href="/home"><img src="logo.png"></a>
    </div>

</div>

</div>
<div class="container">

    <div class="results">
<table>
    <thead>
    <tr>
        <th>Brugernavn</th>
        <th>Kodeord</th>
        <th>Status</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="login: ${logins}">

        <td th:text="${login.username}"/>
        <td th:text="${login.password}"/>
        <td th:text="${login.status}"/>




  <td>
      <a th:href="@{'/deleteLogin/'+${login.bruger_id}}">
        <button class="deletebtn">Slet</button>
    </a>

        <a th:href="@{'/updateLogin/'+${login.bruger_id}}">
            <button class="updatebtn">Opdatere</button>

        </a>
  </td> </tr>
    </td>
    </tbody>
</table>


</div>



</div>
<div class="sideMenu">
    <input type="checkbox" id="Boggle">
    <label for="Boggle">Tilføj login</label>
    <div class="placeholder">
        <form action="/createLogin" method="post">
            <input style="padding: 7px 10px" type="text" name="username" placeholder="Username"/>
            <input style="padding: 7px 10px" type="text" name="password" placeholder="Password"/>
            <input style="padding: 7px 10px" type="text" name="status" placeholder="Status"/>
            <input style="padding: 7px 10px; background-color:lightgreen;" type="submit" value="Tilføj login"/>
        </form>
    </div>
</div>






</body>
</html>